<div class="container-fluid content menubarpush" *ngIf="appointment">
  <div class="row">
    <div class="col">
      <h1 class="center">Appointment: {{ appointment.getId() }}</h1>
      <p><strong>Time:</strong> {{ appointment.getAppointmentTime() }}</p>
      <p><strong>Status:</strong> {{ appointment.getStatus() }}</p>
      <form [formGroup]="modifyAppointmentForm" (ngSubmit)="onModifyAppointmentSubmit()">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <input matInput formControlName="status">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Update Appointment</button>
      </form>
    </div>
  </div>
</div>
<div class="center error" *ngIf="errorMessage">{{ errorMessage }}</div>