<div class="container-fluid content">
  <div class="row">
    <div class="col">
      <h1 class="center">Change Password</h1>
      <div class ="center error">{{getErrorMessage()}}</div>
      <form spellcheck="false" [formGroup]="getPasswordEditForm()" class="center" (ngSubmit)="onPasswordEditFormSubmit()">
        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input matInput class="passwordfield" type="{{getPasswordInputType('oldPassword')}}" autocomplete="off" formControlName="oldPassword">
          <mat-icon (mousedown)="showPassword('oldPassword')" (mouseup)="hidePassword('oldPassword')" (mouseleave)="hidePassword('oldPassword')">visibility</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput class="passwordfield" type="{{getPasswordInputType('newPassword')}}" autocomplete="off" formControlName="newPassword">
          <mat-icon (mousedown)="showPassword('newPassword')" (mouseup)="hidePassword('newPassword')" (mouseleave)="hidePassword('newPassword')">visibility</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput class="passwordfield" type="{{getPasswordInputType('newPasswordConfirm')}}" autocomplete="off" formControlName="newPasswordConfirm">
          <mat-icon (mousedown)="showPassword('newPasswordConfirm')" (mouseup)="hidePassword('newPasswordConfirm')" (mouseleave)="hidePassword('newPasswordConfirm')">visibility</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Change Password</button>
      </form>
    </div>
  </div>
</div>