<div class="container-fluid content">
    <div class="row">
        <div class="col">
            <h1 class="center">Edit {{getProjectName()}}</h1>
            <div class ="center error">{{getErrorMessage()}}</div>
            <form spellcheck="false" class="center" [formGroup]="getProjectEditForm()" (ngSubmit)="onProjectEditFormSubmit()">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="projectName">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Edit</button>
            </form>
        </div>
    </div>
</div>