<div class="container-fluid content">
    <div class="row">
        <div class="col">
            <h1 class="center">{{getElement().getElementName()}}</h1>
            <div class="col-sm-12">
                <strong>Type:</strong> {{getElement().getTypeAsReadableString()}}
            </div>
            <form spellcheck="false" class="center">
                <mat-form-field>
                    <mat-label>Content</mat-label>
                    <textarea disabled matInput value="{{getElement().getContent()}}"></textarea>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>