<div class="container-fluid content menubarpush">
  <div class="row">
    <div class="col">
      <h1 class="center">Appointments</h1>
      <div class="col-sm-12">
        <div class="center error">{{errorMessage}}</div>
        <div class="center">
          <table mat-table [dataSource]="appointmentsData">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Identifier</th>
              <td mat-cell *matCellDef="let appointment">{{appointment.getId()}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let appointment">{{appointment.getAppointmentTime()}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let appointment">{{appointment.getStatus()}}</td>
            </ng-container>               

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let appointment">
                <button mat-icon-button *ngIf="isEditable(appointment)" (click)="closeAppointment(appointment)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
          </table>
          <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            showFirstLastButtons>
          </mat-paginator>

          <ng-container
            *ngIf="isAdmin; then adminBottom; else userBottom">
          </ng-container>

          <ng-template #adminBottom>
            <div>
              <form spellcheck="false" [formGroup]="searchForm">
                <mat-form-field>
                  <mat-label>Id</mat-label>
                  <input matInput type="text" formControlName="pattern" autocomplete="false">
                </mat-form-field>
              </form>              
              <button mat-raised-button color="primary" (click)="searchAppointments()">Search appointments</button>
            </div>
          </ng-template>
          <ng-template #userBottom>
            <div>
              <button mat-raised-button color="primary" (click)="openAppointmentNewDialog()">Create appointment</button>
            </div>
          </ng-template>          
        </div>
      </div>
    </div>
  </div>
</div>