<div class="container-fluid content menubarpush">
  <div class="row">
    <div class="col">
      <h1 class="center">Users</h1>
      <div class="col-sm-12">
        <div class="center error">{{ getErrorMessage() }}</div>
        <div class="center">
          <table mat-table [dataSource]="getUserData()">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let user">{{ user.getUserId() }}</td>
            </ng-container>

            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef>Username</th>
              <td mat-cell *matCellDef="let user">{{ user.getUserName() }}</td>
            </ng-container>

            <ng-container matColumnDef="displayName">
              <th mat-header-cell *matHeaderCellDef>Display Name</th>
              <td mat-cell *matCellDef="let user">{{ user.getDisplayName() }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: getColumns()"></tr>
          </table>
          <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>